.App {
  text-align: center;
  min-height: calc(100vh - 48px);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-footer {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}